<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://i.ibb.co/M8S0Zzj/live-streaming.png" itemprop="thumbnailUrl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%s</title>

    <!-- External Stylesheets -->
    <link rel="stylesheet" type="text/css" href="https://drive.google.com/uc?export=view&id=1pVLG4gZy7jdow3sO-wFS06aP_A9QX0O6">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.9/plyr.css" />

    <style>
      marquee {
        font-size: 30px;
        font-weight: 800;
        color: black;
        font-family: sans-serif;
      }
    </style>
</head>

<body>
    <header>
        <marquee bgcolor="#808080">
            <div id="file-name">%s</div>
        </marquee>
    </header>

    <div class="container">
        <!-- Correct video tag for Plyr -->
        <video src="%s" class="player" controls playsinline></video>
    </div>

    <footer>
        <center>
            <h4>Video not playing? Possibly because your browser or the player doesn't support the codec. Please download and watch :D</h4>
        </center>
        <center>
            <a href="https://t.me/mallumovieworldmain1">
            <img src="https://graph.org/file/ad640ec9faeb6024a2851-8522f5b6ec6d69af54.jpg" 
                height="20%" 
                width="20%" 
                alt="MMW BOTZ - LOGO">
          </a>
        </center>
    </footer>

    <script src="https://cdn.plyr.io/3.6.9/plyr.js"></script>
    <script>
        const controls = [
            'play-large',
            'rewind',
            'play',
            'fast-forward',
            'progress',
            'current-time',
            'duration',
            'mute',
            'volume',
            'captions',
            'settings',
            'pip',
            'airplay',
            'download',
            'fullscreen'
        ];

        document.addEventListener('DOMContentLoaded', () => {
            Plyr.setup('.player', { controls });
        });
    </script>
</body>
</html>
